body,
html {
  height: 100%;
  overflow: hidden;
}

#mainContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  max-height: 600px;
  max-width: 600px;
  object-fit: contain;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.sandwich {
  height: 33px;
}

.pogpete {
  height: 80px;
  z-index: 100000000;
}

.sandwichLike {
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}
